.Nav-bar {
    background-color: black;
    border-bottom: 3px solid var(--dorado);
    font-size: 1.9rem;
}

.Nav-bar img {
    border-radius: 50%;
    width: 120px;
}

.Nav-item {
    transition: 0.4s !important;
    pad: 15px !important; 
}

.Nav-item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: translateY(-4px);
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    color: var(--dorado) !important;
}